* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;

    background: linear-gradient(#ffffff 50%, rgba(255,255,255,0) 0) 0 0,
    radial-gradient(circle closest-side, #FFFFFF 53%, rgba(255,255,255,0) 0) 0 0,
    radial-gradient(circle closest-side, #FFFFFF 50%, rgba(255,255,255,0) 0) 55px 0 #48B;
    background-repeat: repeat-x;


}

@media only screen and (max-width: 600px){
    body {
        font-size: 12px;
    }    
}

.main-area {
    padding: 30px 20px; 
}

.main-container {
    background-color: white;
    max-width: 980px;
    margin: 20px auto;
    color: #3f3f3c;
    padding: 5px;
    border-radius: 3px;
    box-shadow: 0 8px 6px -6px black;
    display: flex;
}

.login-data,
.login-image {
    width: 50%;
    margin: 5px;
}

.login-data {
    text-align: left;
}

.login-logo img {
    height: 50px;
}

.login-data h1 {
    padding: 10px 10px 10px 30px;
    font-size: 110%;
}

.login-image img {
    width: 100%;
    height: 100%;
}

.login-options {
    margin: 5px;
    padding: 0 0 0 20px;
    
}

.btn {
    width: 100%;
    padding: 7px 5px;
    border: none;
    border-radius: 2px;
    opacity: 0.85;
    display: inline-block;
    text-decoration: none; 
    background-color: #3B5998;
    color: white;
    margin: 5px;
    max-width: fit-content;
}
  
input:hover,
.btn:hover {
    opacity: 1;
}

.fb {
    background-color: #3B5998;
    color: white;
}


.google {
    background-color: #dd4b39;
    color: white;
}


.or-separator {
    display: none;
}

form {
    margin: 30px auto;
    padding: 20px;
}

.form-container {
    padding: 10px;
    text-align: left;
}

.form-container label {
    display: block;
}

input[type=text],
input[type=password] {
    margin-bottom: 10px;
    width: 100%;
    border: none;
    border-bottom: 1px solid lightgray;
    outline: none;
    font-size: 120%;
    font-weight: bold;
    padding: 10px 0 0 0;

}

.check-forget {
    padding: 10px 0;
    margin-bottom: 20px;
}

.check-box {
    display: flex;
    align-items: center;
    float: left;
}

.check-box span {
    padding-left: 5px;
}

.forget-password {
    float: right;
    
}

.forget-password a {
    font-weight: bold;
    padding: 5px 10px;
    background-color: #607d8b;
    color: white;
    border-radius: 2px;
    text-decoration: none;
}

.forget-password a:hover {
    background-color: #e42626;
}

.form-container button {

    background-color: #4686cf;
    border: none;
    color: white;
    padding: 5px 15px;
    border-radius: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;

}

.form-container button:hover {
    background-color: rgb(90, 196, 90);
}


@media only screen and (max-width: 720px){
    .login-data {
        width: 100%;
    }

    .login-data h1,
    .login-logo,
    .login-options {
        text-align: center;
    }

    .login-image {
        display: none;
    }

    form {
        margin: 0;
    }
    .or-separator {
        display: flex;
    }

    .or-separator h2 {
        margin: 20px auto 0px auto;
        font-size: 120%;
        color: #858571;
    }
  
}