/*Importing Basic Stylesheet*/
/*Setting up basic styling for all elements*/
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spline+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.945);
}

/*font-family: 'Courgette', cursive;*/
/*font-family: 'Kaushan Script', cursive;*/
/*font-family: 'Itim', cursive;*/
/*font-family: 'Spline Sans', sans-serif;*/
/*font-family: 'Ubuntu', sans-serif;*/
/*Importing Color Schema*/
/*Defining Basic Color Schema*/
/*Importing Stylesheet for header*/
/*Styling Header*/
body .container header {
  display: flex;
  padding: 0 1rem;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 -5px 3px -3px #3a0c0c00, 0 5px 3px -3px #0000003b;
}
body .container header .logo {
  max-width: 50%;
}
body .container header .logo a {
  display: block;
}
body .container header .logo a img {
  max-width: 16rem;
  vertical-align: middle;
}
body .container header nav {
  max-width: 50%;
}
body .container header nav ul {
  display: flex;
  justify-content: flex-end;
}
body .container header nav ul .nav-button {
  list-style: none;
  border: 1px solid;
  margin-right: 0.5rem;
  box-shadow: 0 -5px 3px -3px #3a0c0c00, 0 5px 3px -3px #0000003b;
}
body .container header nav ul .nav-button a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.685);
  padding: 0.5rem 1rem;
  display: inline-block;
}
body .container header nav ul .nav-bt-1 {
  border-color: #72b7da78;
}
body .container header nav ul .nav-bt-1 :hover {
  background-color: #14a1e7;
  color: whitesmoke;
}
body .container header nav ul .nav-bt-2 {
  border-color: #f9715b52;
}
body .container header nav ul .nav-bt-2 :hover {
  background-color: #f56e58;
  color: whitesmoke;
}

@media only screen and (max-width: 600px) {
  body .container header {
    padding: 0;
  }
  body .container header .logo a img {
    max-width: 10rem;
  }
  body .container header nav ul .nav-button a {
    padding: 0.3rem 0.5rem;
    font-size: 0.8rem;
  }
}
/*Importing Stylesheet for Footer*/
/*Defining Basic Color Schema*/
/*Styling Footer Starts*/
footer {
  background-color: #333330;
}
footer .footer-nav {
  padding: 1rem;
}
footer .footer-nav ul {
  display: flex;
  justify-content: center;
}
footer .footer-nav ul li {
  list-style: none;
}
footer .footer-nav ul li a {
  padding: 0.5rem;
  text-decoration: none;
  color: whitesmoke;
  font-family: "Ubuntu", sans-serif;
}
footer .footer-nav ul li a:hover {
  background-color: #333330;
  border: 1px solid #5f5a5a65;
  border-radius: 0.5rem;
}
footer p {
  color: whitesmoke;
  padding: 1rem;
  text-align: center;
}

/*Styling Footer Ends*/
/*Defining box shadows*/
* {
  font-family: "Spline Sans", sans-serif;
}

body {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
body .form-container-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
body .form-container-wrapper .form-container {
  margin: 0.5rem auto 2rem auto;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  padding: 2rem;
}
body .form-container-wrapper .form-container .form-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}
body .form-container-wrapper .form-container .form-logo h1 {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.685);
  border-left: 2px solid #72b7da78;
  padding: 0.5rem;
  text-align: left;
  width: 100%;
  margin-left: 2rem;
}
body .form-container-wrapper .form-container .form-logo img {
  max-width: 6rem;
  max-height: 6rem;
  margin: -5rem auto 1rem auto;
}
body .form-container-wrapper .form-container .login-container .name,
body .form-container-wrapper .form-container .login-container .email,
body .form-container-wrapper .form-container .login-container .password {
  margin: 1rem;
}
body .form-container-wrapper .form-container .login-container .name label,
body .form-container-wrapper .form-container .login-container .email label,
body .form-container-wrapper .form-container .login-container .password label {
  color: rgba(0, 0, 0, 0.788);
  font-size: 0.8rem;
  font-weight: bold;
}
body .form-container-wrapper .form-container .login-container .name input[type=text],
body .form-container-wrapper .form-container .login-container .name input[type=email],
body .form-container-wrapper .form-container .login-container .name input[type=password],
body .form-container-wrapper .form-container .login-container .email input[type=text],
body .form-container-wrapper .form-container .login-container .email input[type=email],
body .form-container-wrapper .form-container .login-container .email input[type=password],
body .form-container-wrapper .form-container .login-container .password input[type=text],
body .form-container-wrapper .form-container .login-container .password input[type=email],
body .form-container-wrapper .form-container .login-container .password input[type=password] {
  outline: none;
  border: none;
  font-size: 1rem;
  border-bottom: 1px solid #5f5a5a65;
  width: 100%;
  box-sizing: border-box;
}
body .form-container-wrapper .form-container .login-container .name input[type=text]:hover,
body .form-container-wrapper .form-container .login-container .name input[type=email]:hover,
body .form-container-wrapper .form-container .login-container .name input[type=password]:hover,
body .form-container-wrapper .form-container .login-container .name input[type=text]:focus,
body .form-container-wrapper .form-container .login-container .name input[type=email]:focus,
body .form-container-wrapper .form-container .login-container .name input[type=password]:focus,
body .form-container-wrapper .form-container .login-container .email input[type=text]:hover,
body .form-container-wrapper .form-container .login-container .email input[type=email]:hover,
body .form-container-wrapper .form-container .login-container .email input[type=password]:hover,
body .form-container-wrapper .form-container .login-container .email input[type=text]:focus,
body .form-container-wrapper .form-container .login-container .email input[type=email]:focus,
body .form-container-wrapper .form-container .login-container .email input[type=password]:focus,
body .form-container-wrapper .form-container .login-container .password input[type=text]:hover,
body .form-container-wrapper .form-container .login-container .password input[type=email]:hover,
body .form-container-wrapper .form-container .login-container .password input[type=password]:hover,
body .form-container-wrapper .form-container .login-container .password input[type=text]:focus,
body .form-container-wrapper .form-container .login-container .password input[type=email]:focus,
body .form-container-wrapper .form-container .login-container .password input[type=password]:focus {
  border-color: #72b7da78;
}
body .form-container-wrapper .form-container button {
  padding: 0.5rem 1rem;
  color: rgba(87, 82, 82, 0.733);
  border: none;
  box-shadow: 0 -5px 3px -3px #3a0c0c00, 0 5px 3px -3px #0000003b;
  margin: 1rem;
}
body .form-container-wrapper .form-container .reset:hover {
  background-color: #f56e58;
}
body .form-container-wrapper .form-container button:hover {
  background-color: #37a02d;
  color: whitesmoke;
}
body .form-container-wrapper::before {
  content: " ";
  display: block;
  height: 50px;
  width: 100%;
}

@media only screen and (max-width: 480px) {
  body .form-container-wrapper .form-container {
    margin: 1rem auto;
    padding: 2rem;
  }
  body .form-container-wrapper .form-container .form-logo img {
    max-width: 5rem;
    max-height: 5rem;
  }
  body .form-container-wrapper::before {
    height: 50px;
  }
}

/*# sourceMappingURL=signup_style.css.map */
