/*Setting up basic styling for all elements*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.945);
}

@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
/*font-family: 'Courgette', cursive;*/

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
/*font-family: 'Kaushan Script', cursive;*/

@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
/*font-family: 'Itim', cursive;*/

@import url('https://fonts.googleapis.com/css2?family=Spline+Sans&display=swap');
/*font-family: 'Spline Sans', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
/*font-family: 'Ubuntu', sans-serif;*/