$text_color1 : #333330;
$text_color2 : #626260;
$text_color3: #f5f5f5;
$border_color1: #94b6c778; 
$border_color2: #f9715b52;
$border_color3: #ddd;
$bg_color1: #94b6c778; 
$bg_color2: rgb(6, 150, 6);
