/*Homepage stylesheet*/

/*Declaring Variables*/
$text_color1 : #333330;
$text_color2 : #626260;
$color3 : orangered;

/*Setting root element font-size*/
html {
    font-size: 14px;
}

/*setting-up basic global properties*/
* {
    margin: 0;
    padding: 0;
    color: $text_color2;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;    
}


/*Styling body-container starts*/
.body-container {
    max-width: 980px;
    margin: auto;

    /*Styling Header starts*/
    header {
        padding-bottom: .5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0 -5px 3px -3px #3a0c0c00, 0 5px 3px -3px #0000003b;

        /*Styling logo starts*/
        .logo {
            width: 50%;
            
            img{
                max-width: 20rem;
                max-height: 10rem;

            }
        }
        /*Styling logo ends*/
        
        /*Styling Navigation starts*/
        nav {
            width: 50%;
            padding: 0 .5rem;

            ul {
                display: flex;
                justify-content: flex-end;
                
                .nav-button {
                    box-shadow: 0 -5px 3px -3px #3a0c0c00, 0 5px 3px -3px #0000003b;
                }

                .nav-bt-1 {
                    border: 1px solid #94b6c778;
                }

                .nav-bt-2 {
                    border: 1px solid #f9715b52;
                }

                li {
                    padding: .5rem;
                    margin: .5rem;
                    list-style: none;


                    a {
                        text-decoration: none;
                        font-size: 1.3rem; 
                        padding: 1rem;                    

                       
                    }

                    a:hover {
                        border-bottom: .3rem solid #0000003b;                        ;
                        transition: .2s;
                    }
                    

                }

                
              
            }
        }
        /*Styling Navigation ends*/
    }
    /*Styling Header ends*/

    /*Styling main-container starts*/
    .main-container {
        padding: 1.5rem 1rem;
        text-align: center;
        h1 {
            font-size: 1.8rem;
            margin-top: 1rem;
            color: $text_color1;
        }

        p {
            font-size: 1.1rem;
            padding: 1rem;
            max-width: 75ch;
            margin: 1rem auto;
        }

        /*Styling search-box starts*/
        .search-box {
            

            form {
                max-width: 90%;
                display: flex;
                padding: 1rem;
                justify-content: center;
                margin: auto;

                input[type=text] {
                    width: 90%;
                    font-size: 1.2rem;
                    border: none;
                    border-bottom-left-radius: .5rem;
                    padding: 1rem;
                    box-shadow: 0 -5px 3px -3px #3a0c0c00, 0 5px 3px -3px #0000003b;
                    
                }

                input[type=text]:focus {
                    outline: none
                }

                .search-btn {
                    border: none;
                    background-color: transparent;
                    padding: .5rem;
                    box-shadow: 0 -5px 3px -3px #3a0c0c00, 0 5px 3px -3px #0000003b;
                }
            }
            .bg-table {
                img {
                    width: 100%;
                    max-height: 50px;
                }
            }
        }
        /*Styling search-box ends*/
    }
    /*Styling main-container ends*/


    /*Styling Category-container starts*/
    .category-container {
        margin: 1rem auto;
        padding: 1rem;

        h2 {
            font-size: 1.7rem;
            color: $text_color1;
            text-align: center;
            padding: 1rem;
            margin: 1rem;
        }


        /*Styling categories start*/
        .categories  {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
          

            h3 {
                color: $text_color1;
                font-weight: normal;
                font-size: 1.1rem;
            }

            .cat {
                border: 1px solid #ddd;
                width: 25%;
                height: 10rem;
                margin: 1rem;
                padding: 1.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: .4rem;
                text-align: center;
            }

            .cat:hover{
                h3 {
                    color : transparent;
                }
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                transition: .25s linear;
            }

           
            .cat-1:hover {
                background-image: url(../images/science_fiction.png);
            }

            .cat-2:hover {
                background-image: url(../images/adventure.png);
            }
            
            .cat-3:hover {
                background-image: url(../images/fantasy.png);
            }
            
            .cat-4:hover {
                background-image: url(../images/time_travel.png);
            }
            
            .cat-5:hover:hover {
                background-image: url(../images/young_adult.png);
            }
            
            .cat-6:hover:hover {
                background-image: url(../images/romance.png);
            }
            
            .cat-7:hover:hover {
                background-image: url(../images/thriller.png);
            }
            
            .cat-8:hover:hover {
                background-image: url(../images/horro.png);
            }
            
            .cat-9:hover:hover {
                background-image: url(../images/mystery.png);
            }
            
            .cat-10:hover {
                background-image: url(../images/drama.png);
            }

            .cat-11:hover {
                background-image: url(../images/biography.png);
            }
            
            .cat-12:hover {
                background-image: url(../images/non_fiction.png);
            }

           

        }       
        /*Styling categories ends*/
    }
    /*Styling Category-container ends*/



    /*Styling Quote Container starts*/
    .quote-container {
        margin: 2rem .5rem;
        
        h2 {
            color: $text_color1;
            font-size: 1.7rem;
            text-align: center;
            margin: 1rem auto;
        }

        .quotes {
            display: flex;
            padding: 1rem .5rem;


            .quote-1,
            .quote-2 {
                width: 50%;
                padding: 3rem 1.5rem;
                border: 1px solid #cecece;
                border-left: 5px solid #e0b472;
                margin: 1rem;
                position: relative;
                box-shadow: 0 -5px 3px -3px #3a0c0c00, 0 5px 3px -3px #0000003b;
                text-align: center;


                .quote-left svg,
                .quote-right svg {
                    max-height: 3rem;
                    max-width: 3rem;
                }

                .quote-left {
                    position: absolute;
                    left: 0.5rem;
                    top: 0;
                }

                .quote-right {
                    position: absolute;
                    right: 0.5rem;
                    top: 0;
                }

                .actual-quote {
                    color: $text_color1;
                    font-size: 1.2rem;
                    padding: .5rem 0 1rem 0;
                    font-style: italic;
                    font-weight: bold;
                }

                .author {
                    font-size: .9rem;
                    padding: .5rem 0;
                }

            }

            
            .quote-1:hover,
            .quote-2:hover {
                border-left: 5px solid #5ca1c3a6;
                transition: .5s linear;
            }
            

            


        }


    }

    /*Styling Quote Container Ends*/


}
/*Styling body-container ends*/

/*Styling Footer Starts*/
footer {
    background-color: $text_color1;
    padding: 1rem;

    .footer-nav {
        padding: 1rem;

        ul {
            display: flex;
            justify-content: center;

            li {
                list-style: none;
                
                a {
                    padding: .5rem;
                    text-decoration: none;
                    color: #fff;
                    
                }

                a:hover {
                border-bottom: 2px solid $text_color2;
            }
            }

            
        }
    }

    p {
        color: #fff;
        padding: 1rem;
        text-align: center;
    }
}
/*Styling Footer Ends*/

/*Media Query for Mobile-Responsiveness*/
@media only screen and (max-width: 720px) {
    
    /*Styling body-container starts*/
    .body-container {
        max-width: 100%;

        /*Styling header starts*/
        header {
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
            
            /*Styling logo starts*/
            .logo {
                width: 100%;
                text-align: center;

                img {
                    max-width: 12rem;
                    max-height: 7rem;

                }
            }
            /*Styling logo ends*/

            /*Styling navigation starts*/
            nav {
                width: 100%;
                ul {
                    justify-content: center;

                    .nav-button {
                        border: none;
                        box-shadow: none;
                    }

                    li {
                        padding: 0;
                        margin: 0;

                        a {
                            font-size: .9rem;
                            padding: .5rem;
                        }
                    }
                }
            }
            /*Styling navigation ends*/
        }
        /*Styling header ends*/


        /*Styling category-container start*/
        .category-container {
            .categories  {

                .cat {
                        width: 40%;
                        padding: 1rem;
                        margin: .5rem;
                        height: 8rem;
                    }
            }    
        }
        /*Styling category-container ends*/

        .quote-container {
            .quotes {
                flex-wrap: wrap;
                    .quote-1,
                    .quote-2 {
                        width: 100%;
                        padding: 2rem .5rem;
                    }
            }
        }
    }
    /*Styling body-container ends*/

   
    
}