/*Declaring color values*/
html {
  font-size: 15px;
}

/*Defining body values*/
body {
  box-sizing: border-box;
  background-color: #EEEEEE;
  font-family: "Poppins", sans-serif;
}

/*Styling Container begins*/
.container {
  max-width: 800px;
  margin: auto;
  background-color: white;
  /*Header Styling begins*/
  /*Header Styling ends*/
  /*carrer objective block styling starts*/
  /*carrer objective block styling ends*/
  /*col-cotainer styling begins*/
  /*col-cotainer styling ends*/
}
.container .header {
  display: flex;
  padding: 1rem;
  margin: 1rem;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #EEEEEE;
  /*Display-pic block styling begins*/
  /*Display-pic block styling ends*/
  /*Contact block styling begins*/
  /*Contact block styling ends*/
}
.container .header .display-pic {
  display: flex;
  align-items: center;
  /*Display picture styling begins*/
  /*Display picture styling ends*/
}
.container .header .display-pic img {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.container .header .display-pic h1 {
  margin: 0 0.5rem 0 0.5rem;
}
.container .header .contact {
  /*svg logo sizing begins*/
  /*svg logo sizing ends*/
}
.container .header .contact .gmail,
.container .header .contact .mobile,
.container .header .contact .linkedin,
.container .header .contact .github {
  display: flex;
  align-items: center;
}
.container .header .contact .gmail p,
.container .header .contact .mobile p,
.container .header .contact .linkedin p,
.container .header .contact .github p {
  margin: 0;
}
.container .header .contact .gmail a,
.container .header .contact .mobile a,
.container .header .contact .linkedin a,
.container .header .contact .github a {
  text-decoration: none;
  color: black;
  display: flex;
}
.container .header .contact svg {
  height: 1rem;
  width: 1rem;
  margin: 0.2rem 0.5rem 0.2rem 1rem;
}
.container .career-obj {
  border-bottom: 1px solid #EEEEEE;
  margin: 1rem;
  padding: 0 0 0.5rem 0;
}
.container .career-obj h2 {
  margin: 0;
  font-size: 1.3rem;
}
.container .career-obj p {
  margin: 0;
}
.container .col-container {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  justify-content: space-between;
  gap: 10%;
}
.container .col-container h2 {
  font-size: 1.3rem;
  margin: 0;
}
.container .col-container h3 {
  margin: 0;
  font-size: 1rem;
}
.container .col-container h4 {
  margin: 0;
  font-size: 1rem;
}
.container .col-container h5 {
  margin: 0 0 1rem 0;
}
.container .col-container .duration-location {
  display: flex;
  gap: 6rem;
}
.container .col-container .left,
.container .col-container .right {
  margin: 0;
  font-size: 0.9rem;
  font-style: italic;
}
.container .col-container .column-1 {
  flex: 45%;
}
.container .col-container .column-1 .pg,
.container .col-container .column-1 .ug,
.container .col-container .column-1 .intermediate,
.container .col-container .column-1 .high-school {
  padding-left: 1rem;
  border-left: 0.3rem solid #EEEEEE;
}
.container .col-container .column-1 ul {
  padding: 0 0 1.5rem 1.2rem;
  margin: 0;
}
.container .col-container .column-2 {
  flex: 45%;
}
.container .col-container .column-2 ul {
  padding: 0;
  margin: 0;
}
.container .col-container .column-2 p {
  margin: 0;
}
.container .col-container .column-2 .skills .skill-type {
  list-style: none;
  padding-left: 1rem;
  border-left: 0.3rem solid #EEEEEE;
  margin: 0.5rem auto;
}
.container .col-container .column-2 .skills .skill-type p {
  font-weight: bold;
  padding: 0.2rem;
}
.container .col-container .column-2 .skills .languages {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: start;
  padding: 0.2rem;
  flex-wrap: wrap;
}
.container .col-container .column-2 .skills .languages li {
  list-style: none;
  padding: 0.2rem 0.5rem;
  background-color: #686c70;
  color: white;
  border-radius: 3px;
  font-size: 0.9rem;
}
.container .col-container .column-2 .projects {
  margin: 1rem auto;
}
.container .col-container .column-2 .projects ul {
  padding: 0;
}
.container .col-container .column-2 .projects ul li {
  list-style: none;
  padding-left: 1rem;
  border-left: 0.3rem solid #EEEEEE;
}
.container .col-container .column-2 .projects .online-class,
.container .col-container .column-2 .projects .book-rec,
.container .col-container .column-2 .projects .library {
  margin: 1rem 0 0 0;
}
.container .col-container .column-2 .projects .online-class a,
.container .col-container .column-2 .projects .book-rec a,
.container .col-container .column-2 .projects .library a {
  color: black;
}
.container .col-container .column-2 .projects .online-class .project-duration,
.container .col-container .column-2 .projects .book-rec .project-duration,
.container .col-container .column-2 .projects .library .project-duration {
  font-style: italic;
  font-size: 0.8rem;
}
.container .col-container .column-2 .projects .online-class .project-desc,
.container .col-container .column-2 .projects .online-class .project-tech-stack,
.container .col-container .column-2 .projects .book-rec .project-desc,
.container .col-container .column-2 .projects .book-rec .project-tech-stack,
.container .col-container .column-2 .projects .library .project-desc,
.container .col-container .column-2 .projects .library .project-tech-stack {
  margin: 0.5rem auto;
  font-size: 0.9rem;
}
.container .col-container .column-2 .projects .online-class .project-desc .description,
.container .col-container .column-2 .projects .online-class .project-desc .tech-stack,
.container .col-container .column-2 .projects .online-class .project-tech-stack .description,
.container .col-container .column-2 .projects .online-class .project-tech-stack .tech-stack,
.container .col-container .column-2 .projects .book-rec .project-desc .description,
.container .col-container .column-2 .projects .book-rec .project-desc .tech-stack,
.container .col-container .column-2 .projects .book-rec .project-tech-stack .description,
.container .col-container .column-2 .projects .book-rec .project-tech-stack .tech-stack,
.container .col-container .column-2 .projects .library .project-desc .description,
.container .col-container .column-2 .projects .library .project-desc .tech-stack,
.container .col-container .column-2 .projects .library .project-tech-stack .description,
.container .col-container .column-2 .projects .library .project-tech-stack .tech-stack {
  font-weight: bold;
}

/*Styling Container ends*/
/*Medial Query to style header starts*/
@media only screen and (max-width: 720px) {
  .container {
    max-width: 100%;
    padding: 0;
  }
  .container .col-container {
    gap: 1rem;
  }
  .container .col-container .right {
    margin-right: 1rem;
  }
  .container .col-container .duration-location {
    justify-content: space-between;
  }
  .container .col-container .column-1,
.container .col-container .column-2 {
    flex: 45%;
  }
  .container .header {
    padding: 0.5rem;
  }
  .container .header .display-pic img {
    height: 5rem;
    width: 5rem;
  }
  .container .header h1 {
    font-size: 1.3rem;
  }
}
/*Medial Query to style header ends*/
@media only screen and (max-width: 480px) {
  .container .header {
    flex-direction: column;
    padding-bottom: 0;
    margin: 0.5rem 1rem;
  }
  .container .header .contact {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .container .header .contact svg {
    height: 2rem;
    width: 2rem;
    margin: 0.5rem;
  }
  .container .header .contact .hidden {
    display: none;
  }
  .container .col-container .right {
    margin: 0;
  }
  .container .career-obj {
    margin: 0.5rem 1rem;
  }
}

/*# sourceMappingURL=index_style.css.map */
