/*Homepage stylesheet*/

@import "color_schema";


@mixin box_shadow1 {
    box-shadow: 0 -5px 3px -3px #3a0c0c00, 0 5px 3px -3px #0000003b;    
}
@mixin box_shadow2 {
    box-shadow: 0 12px 12px rgb(0 0 0 / 15%);
}

/*Setting root element font-size*/
@import "basic_style";
/*Styling body-container starts*/


.body-container {
    max-width: 980px;
    margin: auto;
    display: flex;
    flex-direction: column;
    
    @import "header_style";

    .form-container-wrapper {
        display: flex;
        flex-direction: column;

        .form-container{
            margin: .5rem auto 2rem auto;
            border: 2px solid $text_color3;
            @include box_shadow2;
            padding: 2rem;

            .form-logo {
                
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 2rem;

                h1 {
                    font-size: 1rem;
                    color: $text_color1;
                    border-left: 2px solid $border_color1;
                    padding: .5rem;
                    text-align: left;
                    width: 100%;
                    margin-left: 2rem;
                }

                img {
                    max-width: 6rem;
                    max-height: 6rem;
                    margin: -5rem auto 1rem auto;
                }
        
            }
        
            .login-container {
                .name,
                .email, 
                .password {
                    
                    margin: 1rem;
                    label {
                        color: $text_color1;
                        font-size: .9rem;
                        font-weight: bold;
                    }

                    input[type="text"],
                    input[type="email"],
                    input[type="password"] {
                        outline: none;
                        border: none;
                        font-size: 1.1rem;
                        border-bottom: 1px solid $border_color1;
                        width: 100%;
                        box-sizing: border-box;
                    }


                    
                }

                
            }

            
            button {

                padding: .5rem 1rem;
                color: $text_color2;
                border: none;
                @include box_shadow1;
                margin: 1rem;
            }

            .reset:hover {
                background-color: $bg_color3;
                
            }

            button:hover {
                background-color: $bg_color2;
                color: $text_color3;
            }

            .forgot-password {
                padding: 1rem;
                margin-bottom: 1rem;

            }
            
        }
    }

    .form-container-wrapper::before {
        content: " ";
        display: block;
        height: 50px;
        width: 100%;
    }


          
}



@import "footer_style";

@media only screen and (max-width: 480px) {
    
    .body-container {

        .form-container-wrapper {

        
            .form-container {
                margin: 1rem auto;
                padding: 2rem;

                .form-logo img {
                    max-width: 5rem;
                    max-height: 5rem;
                }
            }

            
        }

        .form-container-wrapper::before {
            height: 50px;
           }
    }
}