/*Homepage stylesheet*/
/*Declaring Variables*/
/*Setting root element font-size*/
html {
  font-size: 14px;
}

/*setting-up basic global properties*/
* {
  margin: 0;
  padding: 0;
  color: #626260;
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
}

/*Styling body-container starts*/
.body-container {
  max-width: 980px;
  margin: auto;
  /*Styling Header starts*/
  /*Styling Header ends*/
  /*Styling main-container starts*/
  /*Styling main-container ends*/
  /*Styling Category-container starts*/
  /*Styling Category-container ends*/
  /*Styling Book Container starts*/
  /*Styling Book Container Ends*/
}
.body-container header {
  padding-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 -5px 3px -3px #3a0c0c00, 0 5px 3px -3px #0000003b;
  /*Styling logo starts*/
  /*Styling logo ends*/
  /*Styling Navigation starts*/
  /*Styling Navigation ends*/
}
.body-container header .logo {
  width: 50%;
}
.body-container header .logo img {
  max-width: 20rem;
  max-height: 10rem;
}
.body-container header nav {
  width: 50%;
  padding: 0 0.5rem;
}
.body-container header nav ul {
  display: flex;
  justify-content: flex-end;
}
.body-container header nav ul .nav-button {
  box-shadow: 0 -5px 3px -3px #3a0c0c00, 0 5px 3px -3px #0000003b;
}
.body-container header nav ul .nav-bt-1 {
  border: 1px solid #94b6c778;
}
.body-container header nav ul .nav-bt-2 {
  border: 1px solid #f9715b52;
}
.body-container header nav ul li {
  padding: 0.5rem;
  margin: 0.5rem;
  list-style: none;
}
.body-container header nav ul li a {
  text-decoration: none;
  font-size: 1.3rem;
  padding: 1rem;
}
.body-container header nav ul li a:hover {
  border-bottom: 0.3rem solid #94b6c778;
  transition: 0.2s;
}
.body-container .main-container {
  padding: 1.5rem 1rem;
  text-align: center;
  /*Styling search-box starts*/
  /*Styling search-box ends*/
}
.body-container .main-container h1 {
  font-size: 1.8rem;
  margin-top: 1rem;
  color: #333330;
}
.body-container .main-container p {
  font-size: 1.1rem;
  padding: 1rem;
  max-width: 75ch;
  margin: 1rem auto;
}
.body-container .main-container .search-box form {
  max-width: 90%;
  display: flex;
  padding: 1rem;
  justify-content: center;
  margin: auto;
}
.body-container .main-container .search-box form input[type=text] {
  width: 90%;
  font-size: 1.2rem;
  border: none;
  border-bottom-left-radius: 0.5rem;
  padding: 1rem;
  box-shadow: 0 -5px 3px -3px #3a0c0c00, 0 5px 3px -3px #0000003b;
}
.body-container .main-container .search-box form input[type=text]:focus {
  outline: none;
}
.body-container .main-container .search-box form .search-btn {
  border: none;
  background-color: transparent;
  padding: 0.5rem;
  box-shadow: 0 -5px 3px -3px #3a0c0c00, 0 5px 3px -3px #0000003b;
}
.body-container .main-container .search-box .bg-table img {
  width: 100%;
  max-height: 50px;
}
.body-container .category-container {
  margin: 1rem auto;
  padding: 1rem;
  /*Styling categories start*/
  /*Styling categories ends*/
}
.body-container .category-container h2 {
  font-size: 1.7rem;
  color: #333330;
  text-align: center;
  padding: 1rem;
  margin: 1rem;
}
.body-container .category-container .categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.body-container .category-container .categories h3 {
  color: #333330;
  font-weight: normal;
  font-size: 1.1rem;
}
.body-container .category-container .categories .cat {
  border: 1px solid #ddd;
  width: 25%;
  height: 10rem;
  margin: 1rem;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.4rem;
  text-align: center;
}
.body-container .category-container .categories .cat:hover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: 0.25s linear;
}
.body-container .category-container .categories .cat:hover h3 {
  color: transparent;
}
.body-container .category-container .categories .cat-1:hover {
  background-image: url(../images/science_fiction.png);
}
.body-container .category-container .categories .cat-2:hover {
  background-image: url(../images/adventure.png);
}
.body-container .category-container .categories .cat-3:hover {
  background-image: url(../images/fantasy.png);
}
.body-container .category-container .categories .cat-4:hover {
  background-image: url(../images/time_travel.png);
}
.body-container .category-container .categories .cat-5:hover:hover {
  background-image: url(../images/young_adult.png);
}
.body-container .category-container .categories .cat-6:hover:hover {
  background-image: url(../images/romance.png);
}
.body-container .category-container .categories .cat-7:hover:hover {
  background-image: url(../images/thriller.png);
}
.body-container .category-container .categories .cat-8:hover:hover {
  background-image: url(../images/horro.png);
}
.body-container .category-container .categories .cat-9:hover:hover {
  background-image: url(../images/mystery.png);
}
.body-container .category-container .categories .cat-10:hover {
  background-image: url(../images/drama.png);
}
.body-container .category-container .categories .cat-11:hover {
  background-image: url(../images/biography.png);
}
.body-container .category-container .categories .cat-12:hover {
  background-image: url(../images/non_fiction.png);
}
.body-container .book-container {
  margin: 2rem 0.5rem;
}
.body-container .book-container h2 {
  color: #333330;
  font-size: 1.7rem;
  text-align: center;
  margin: 1rem auto;
}
.body-container .book-container .books {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.body-container .book-container .books .book-1,
.body-container .book-container .books .book-2,
.body-container .book-container .books .book-3,
.body-container .book-container .books .book-4 {
  width: 45%;
  display: flex;
  border: 1px solid #ddd;
  border-radius: 0.4rem;
  margin: 1rem;
}
.body-container .book-container .books .book-1 .book-thumbnail,
.body-container .book-container .books .book-2 .book-thumbnail,
.body-container .book-container .books .book-3 .book-thumbnail,
.body-container .book-container .books .book-4 .book-thumbnail {
  display: flex;
}
.body-container .book-container .books .book-1 .book-thumbnail img,
.body-container .book-container .books .book-2 .book-thumbnail img,
.body-container .book-container .books .book-3 .book-thumbnail img,
.body-container .book-container .books .book-4 .book-thumbnail img {
  max-width: 100px;
  max-height: 150px;
}
.body-container .book-container .books .book-1 .book-description .book-title h3,
.body-container .book-container .books .book-2 .book-description .book-title h3,
.body-container .book-container .books .book-3 .book-description .book-title h3,
.body-container .book-container .books .book-4 .book-description .book-title h3 {
  color: #333330;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
}
.body-container .book-container .books .book-1 .book-description .book-author h4,
.body-container .book-container .books .book-2 .book-description .book-author h4,
.body-container .book-container .books .book-3 .book-description .book-author h4,
.body-container .book-container .books .book-4 .book-description .book-author h4 {
  color: #333330;
  font-size: 1.1rem;
  padding: 0 1rem;
}
.body-container .book-container .books .book-1 .book-description .book-summary,
.body-container .book-container .books .book-2 .book-description .book-summary,
.body-container .book-container .books .book-3 .book-description .book-summary,
.body-container .book-container .books .book-4 .book-description .book-summary {
  padding: 1rem;
}

/*Styling body-container ends*/
/*Styling Footer Starts*/
footer {
  background-color: #333330;
  padding: 1rem;
}
footer .footer-nav {
  padding: 1rem;
}
footer .footer-nav ul {
  display: flex;
  justify-content: center;
}
footer .footer-nav ul li {
  list-style: none;
}
footer .footer-nav ul li a {
  padding: 0.5rem;
  text-decoration: none;
  color: whitesmoke;
}
footer .footer-nav ul li a:hover {
  border-bottom: 2px solid #626260;
}
footer p {
  color: whitesmoke;
  padding: 1rem;
  text-align: center;
}

/*Styling Footer Ends*/
/*Media Query for Mobile-Responsiveness*/
@media only screen and (max-width: 720px) {
  /*Styling body-container starts*/
  .body-container {
    max-width: 100%;
    /*Styling header starts*/
    /*Styling header ends*/
    /*Styling category-container start*/
    /*Styling category-container ends*/
    /*Styling Book Container starts*/
    /*Styling Book Container ends*/
  }
  .body-container header {
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    /*Styling logo starts*/
    /*Styling logo ends*/
    /*Styling navigation starts*/
    /*Styling navigation ends*/
  }
  .body-container header .logo {
    width: 100%;
    text-align: center;
  }
  .body-container header .logo img {
    max-width: 12rem;
    max-height: 7rem;
  }
  .body-container header nav {
    width: 100%;
  }
  .body-container header nav ul {
    justify-content: center;
  }
  .body-container header nav ul .nav-button {
    border: none;
    box-shadow: none;
  }
  .body-container header nav ul li {
    padding: 0;
    margin: 0;
  }
  .body-container header nav ul li a {
    font-size: 0.9rem;
    padding: 0.5rem;
  }
  .body-container .category-container .categories .cat {
    width: 40%;
    padding: 1rem;
    margin: 0.5rem;
    height: 8rem;
  }
  .body-container .book-container .books .book-1,
.body-container .book-container .books .book-2,
.body-container .book-container .books .book-3,
.body-container .book-container .books .book-4 {
    margin: 1rem 0.5rem;
    width: 100%;
    border: none;
    border-top: 1px solid #ddd;
  }

  /*Styling body-container ends*/
}

/*# sourceMappingURL=index_style.css.map */
