/*Importing Basic Stylesheet*/
/*Setting up basic styling for all elements*/
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spline+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.945);
}

/*font-family: 'Courgette', cursive;*/
/*font-family: 'Kaushan Script', cursive;*/
/*font-family: 'Itim', cursive;*/
/*font-family: 'Spline Sans', sans-serif;*/
/*font-family: 'Ubuntu', sans-serif;*/
/*Importing Color Schema*/
/*Defining Basic Color Schema*/
/*Importing Stylesheet for header*/
/*Styling Header*/
body .container header {
  display: flex;
  padding: 0 1rem;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 -5px 3px -3px #3a0c0c00, 0 5px 3px -3px #0000003b;
}
body .container header .logo {
  max-width: 50%;
}
body .container header .logo a {
  display: block;
}
body .container header .logo a img {
  max-width: 16rem;
  vertical-align: middle;
}
body .container header nav {
  max-width: 50%;
}
body .container header nav ul {
  display: flex;
  justify-content: flex-end;
}
body .container header nav ul .nav-button {
  list-style: none;
  border: 1px solid;
  margin-right: 0.5rem;
  box-shadow: 0 -5px 3px -3px #3a0c0c00, 0 5px 3px -3px #0000003b;
}
body .container header nav ul .nav-button a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.685);
  padding: 0.5rem 1rem;
  display: inline-block;
}
body .container header nav ul .nav-bt-1 {
  border-color: #72b7da78;
}
body .container header nav ul .nav-bt-1 :hover {
  background-color: #14a1e7;
  color: whitesmoke;
}
body .container header nav ul .nav-bt-2 {
  border-color: #f9715b52;
}
body .container header nav ul .nav-bt-2 :hover {
  background-color: #f56e58;
  color: whitesmoke;
}

@media only screen and (max-width: 600px) {
  body .container header {
    padding: 0;
  }
  body .container header .logo a img {
    max-width: 10rem;
  }
  body .container header nav ul .nav-button a {
    padding: 0.3rem 0.5rem;
    font-size: 0.8rem;
  }
}
/*Importing Stylesheet for Footer*/
/*Defining Basic Color Schema*/
/*Styling Footer Starts*/
footer {
  background-color: #333330;
}
footer .footer-nav {
  padding: 1rem;
}
footer .footer-nav ul {
  display: flex;
  justify-content: center;
}
footer .footer-nav ul li {
  list-style: none;
}
footer .footer-nav ul li a {
  padding: 0.5rem;
  text-decoration: none;
  color: whitesmoke;
  font-family: "Ubuntu", sans-serif;
}
footer .footer-nav ul li a:hover {
  background-color: #333330;
  border: 1px solid #5f5a5a65;
  border-radius: 0.5rem;
}
footer p {
  color: whitesmoke;
  padding: 1rem;
  text-align: center;
}

/*Styling Footer Ends*/
/*Defining box shadows*/
/*Styling body-container starts*/
body {
  width: 100%;
  margin: auto;
  color: rgba(0, 0, 0, 0.788);
}
body .container .dashboard-container {
  display: grid;
  grid-template-areas: "side main main main main main";
}
body .container .dashboard-container .sidebar-wrapper {
  grid-area: side;
  background-color: #333330;
}
body .container .dashboard-container .sidebar-wrapper .sidebar nav ul {
  padding: 1rem 0;
}
body .container .dashboard-container .sidebar-wrapper .sidebar nav ul li {
  list-style: none;
  margin: 0.5rem 0 1rem 0;
}
body .container .dashboard-container .sidebar-wrapper .sidebar nav ul li a {
  display: flex;
  align-items: baseline;
  text-decoration: none;
  border: none;
  color: whitesmoke;
  cursor: pointer;
  padding: 0.5rem 1rem;
}
body .container .dashboard-container .sidebar-wrapper .sidebar nav ul li a .fa {
  color: whitesmoke;
  margin: 0.5rem 0.2rem;
}
body .container .dashboard-container .sidebar-wrapper .sidebar nav ul li:hover {
  background-color: #242423;
}
body .container .dashboard-container .sidebar-wrapper .sidebar nav ul .active {
  background-color: #000000;
}
body .container .dashboard-container .form-container-wrapper {
  grid-area: main;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
body .container .dashboard-container .form-container-wrapper .form-container {
  margin: 0.5rem 0.5rem 2rem 0.5rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  padding: 2rem;
}
body .container .dashboard-container .form-container-wrapper .form-container h1 {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.685);
  border-left: 2px solid #72b7da78;
  padding: 0.5rem;
  text-align: left;
  width: 100%;
}
body .container .dashboard-container .form-container-wrapper .form-container .book-container .title,
body .container .dashboard-container .form-container-wrapper .form-container .book-container .author,
body .container .dashboard-container .form-container-wrapper .form-container .book-container .yop,
body .container .dashboard-container .form-container-wrapper .form-container .book-container .summary,
body .container .dashboard-container .form-container-wrapper .form-container .book-container .genre {
  margin: 1rem;
}
body .container .dashboard-container .form-container-wrapper .form-container .book-container .title label,
body .container .dashboard-container .form-container-wrapper .form-container .book-container .author label,
body .container .dashboard-container .form-container-wrapper .form-container .book-container .yop label,
body .container .dashboard-container .form-container-wrapper .form-container .book-container .summary label,
body .container .dashboard-container .form-container-wrapper .form-container .book-container .genre label {
  color: rgba(0, 0, 0, 0.788);
  font-size: 0.8rem;
  font-weight: bold;
}
body .container .dashboard-container .form-container-wrapper .form-container .book-container .title textarea,
body .container .dashboard-container .form-container-wrapper .form-container .book-container .title input[type=text],
body .container .dashboard-container .form-container-wrapper .form-container .book-container .title input[type=number],
body .container .dashboard-container .form-container-wrapper .form-container .book-container .author textarea,
body .container .dashboard-container .form-container-wrapper .form-container .book-container .author input[type=text],
body .container .dashboard-container .form-container-wrapper .form-container .book-container .author input[type=number],
body .container .dashboard-container .form-container-wrapper .form-container .book-container .yop textarea,
body .container .dashboard-container .form-container-wrapper .form-container .book-container .yop input[type=text],
body .container .dashboard-container .form-container-wrapper .form-container .book-container .yop input[type=number],
body .container .dashboard-container .form-container-wrapper .form-container .book-container .summary textarea,
body .container .dashboard-container .form-container-wrapper .form-container .book-container .summary input[type=text],
body .container .dashboard-container .form-container-wrapper .form-container .book-container .summary input[type=number],
body .container .dashboard-container .form-container-wrapper .form-container .book-container .genre textarea,
body .container .dashboard-container .form-container-wrapper .form-container .book-container .genre input[type=text],
body .container .dashboard-container .form-container-wrapper .form-container .book-container .genre input[type=number] {
  outline: none;
  border: none;
  font-size: 1rem;
  border-bottom: 1px solid #5f5a5a65;
  width: 100%;
  box-sizing: border-box;
}
body .container .dashboard-container .form-container-wrapper .form-container .book-container .title textarea:hover,
body .container .dashboard-container .form-container-wrapper .form-container .book-container .title textarea:focus,
body .container .dashboard-container .form-container-wrapper .form-container .book-container .title input[type=text]:hover,
body .container .dashboard-container .form-container-wrapper .form-container .book-container .title input[type=text]:foucs,
body .container .dashboard-container .form-container-wrapper .form-container .book-container .title input[type=number]:hover,
body .container .dashboard-container .form-container-wrapper .form-container .book-container .title input[type=number]:focus,
body .container .dashboard-container .form-container-wrapper .form-container .book-container .author textarea:hover,
body .container .dashboard-container .form-container-wrapper .form-container .book-container .author textarea:focus,
body .container .dashboard-container .form-container-wrapper .form-container .book-container .author input[type=text]:hover,
body .container .dashboard-container .form-container-wrapper .form-container .book-container .author input[type=text]:foucs,
body .container .dashboard-container .form-container-wrapper .form-container .book-container .author input[type=number]:hover,
body .container .dashboard-container .form-container-wrapper .form-container .book-container .author input[type=number]:focus,
body .container .dashboard-container .form-container-wrapper .form-container .book-container .yop textarea:hover,
body .container .dashboard-container .form-container-wrapper .form-container .book-container .yop textarea:focus,
body .container .dashboard-container .form-container-wrapper .form-container .book-container .yop input[type=text]:hover,
body .container .dashboard-container .form-container-wrapper .form-container .book-container .yop input[type=text]:foucs,
body .container .dashboard-container .form-container-wrapper .form-container .book-container .yop input[type=number]:hover,
body .container .dashboard-container .form-container-wrapper .form-container .book-container .yop input[type=number]:focus,
body .container .dashboard-container .form-container-wrapper .form-container .book-container .summary textarea:hover,
body .container .dashboard-container .form-container-wrapper .form-container .book-container .summary textarea:focus,
body .container .dashboard-container .form-container-wrapper .form-container .book-container .summary input[type=text]:hover,
body .container .dashboard-container .form-container-wrapper .form-container .book-container .summary input[type=text]:foucs,
body .container .dashboard-container .form-container-wrapper .form-container .book-container .summary input[type=number]:hover,
body .container .dashboard-container .form-container-wrapper .form-container .book-container .summary input[type=number]:focus,
body .container .dashboard-container .form-container-wrapper .form-container .book-container .genre textarea:hover,
body .container .dashboard-container .form-container-wrapper .form-container .book-container .genre textarea:focus,
body .container .dashboard-container .form-container-wrapper .form-container .book-container .genre input[type=text]:hover,
body .container .dashboard-container .form-container-wrapper .form-container .book-container .genre input[type=text]:foucs,
body .container .dashboard-container .form-container-wrapper .form-container .book-container .genre input[type=number]:hover,
body .container .dashboard-container .form-container-wrapper .form-container .book-container .genre input[type=number]:focus {
  border-color: #72b7da78;
}
body .container .dashboard-container .form-container-wrapper .form-container button {
  padding: 0.5rem 1rem;
  color: rgba(87, 82, 82, 0.733);
  border: none;
  box-shadow: 0 -5px 3px -3px #3a0c0c00, 0 5px 3px -3px #0000003b;
  margin: 1rem;
}
body .container .dashboard-container .form-container-wrapper .form-container button:hover {
  background-color: #37a02d;
  color: whitesmoke;
}
body .container .dashboard-container .form-container-wrapper .form-container button[type=reset]:hover {
  background-color: #f56e58;
}

@media only screen and (max-width: 480px) {
  body .container .dashboard-container {
    grid-template-areas: "side side side side side side" "main main main main main main";
  }
  body .container .dashboard-container .sidebar-wrapper .sidebar nav ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
  body .container .dashboard-container .sidebar-wrapper .sidebar nav ul li {
    margin: 0;
    width: 50%;
  }
  body .container .dashboard-container .sidebar-wrapper .sidebar nav ul li a {
    justify-content: center;
    font-size: 0.8rem;
    padding: 0.3rem 0.5rem;
  }
}

/*# sourceMappingURL=add_book_style.css.map */
