/*Defining Basic Color Schema*/


//text colors;
$text_color1: rgba(0, 0, 0, 0.685);
$text_color2: rgba(87, 82, 82, 0.733);
$text_color3: rgba(0, 0, 0, 0.788);
$text_color4: whitesmoke;


//border-colors;
$border_color1: #72b7da78;
$border_color2: #f9715b52;
$border_color3: #5f5a5a65;

//background-colors;
$bg_color1: #14a1e7;
$bg_color2: #f56e58;
$bg_color3: #37a02d;
$bg_color4: #000000;
$bg_color5: #333330;
$bg_color6: white;
$bg_color7: #242423;

